<div {{action 'toggleAccordion'}} 
  class="accordion-title {{unless open 'closed'}} accordion-{{dasherize title}}" 
  role="button">
  {{title}}
  {{#if (and mapIsLoading open numberMenuItems)}}
    {{fa-icon 'spinner' class='fa-spin medium-gray'}}
  {{/if}}
</div>
{{#if open}}
  <div class="accordion-content">
    {{yield (hash
        menu-item=(component 'layer-menu-item' didRenderHook=(action 'registerChild'))
      )
    }}
  </div>
{{/if}}
