<div class="data-controls mapboxgl-ctrl mapboxgl-ctrl-group">
  {{#if closed}}
    <button {{action 'handleOpen'}} class="share-controls-toggle mapboxgl-ctrl-icon">{{fa-icon 'download'}}</button>
  {{else}}
    <div class="share-controls-content">
      <button {{action 'handleClose'}} class="close-button" aria-label="Close alert" type="button"><span aria-hidden="true">&times;</span></button>
      <h3 class="header-small">Get the Data</h3>
      <ul class="no-bullet">
        {{#each datasets as |dataset|}}
          <li>
            <p>
              {{fa-icon 'download'}} {{dataset.displayName}}:
              <a href="https://planninglabs.carto.com/api/v2/sql?format=SHP&filename={{dataset.tableName}}&q=SELECT * FROM {{dataset.tableName}}"><strong>All</strong>&nbsp;<small>(SHP)</small></a>
              <span class="medium-gray">|</span>
              <a href="https://planninglabs.carto.com/api/v2/sql?format=SHP&filename={{dataset.tableName}}_clipped&q=SELECT * FROM {{dataset.tableName}} WHERE ST_Intersects(the_geom, ST_GeomFromGeoJSON('{{stringifiedBoundsGeoJSON}}'))"><strong>In View</strong>&nbsp;<small>(SHP)</small></a>
            </p>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
