<div class="data-controls mapboxgl-ctrl mapboxgl-ctrl-group">
  {{#if closed}}
    <button {{action 'handleOpen'}} class="share-controls-toggle mapboxgl-ctrl-icon">{{fa-icon 'file'}}</button>
  {{else}}
    <div class="share-controls-content">
      <button {{action 'handleClose'}} class="close-button" aria-label="Close alert" type="button"><span aria-hidden="true">&times;</span></button>
      <h3 class="header-small">Get the Data</h3>
      {{#each datasets as |dataset|}}
        <a href="https://planninglabs.carto.com/api/v2/sql?format=SHP&filename={{dataset.tableName}}&q=SELECT * FROM {{dataset.tableName}}" class="button small hollow expanded"><i aria-hidden="true" class="fa fa-download"></i>&nbsp;<strong>{{dataset.displayName}}</strong> <small>(SHP)</small></a>
        <a href="https://planninglabs.carto.com/api/v2/sql?format=SHP&filename={{dataset.tableName}}_clipped&q=SELECT * FROM {{dataset.tableName}} WHERE ST_Intersects(the_geom, ST_GeomFromGeoJSON('{{stringifiedBoundsGeoJSON}}'))" class="button small hollow expanded"><i aria-hidden="true" class="fa fa-download"></i>&nbsp;<strong>{{dataset.displayName}} Clipped</strong> <small>(SHP)</small></a>
      {{/each}}
    </div>
  {{/if}}
</div>
