<div class="layer-menu-item-header layer-{{dasherize title}}">
  <div class="switch tiny float-left">
    <input class="switch-input" type="checkbox" checked={{if active 'checked'}}>
    <label {{action 'toggle'}} class="switch-paddle">
      <span class="show-for-sr">Toggle Layer Group</span>
    </label>
  </div>
  <span {{action 'toggle'}} class="layer-menu-item-title" role="button">
    {{#if tooltip}}
      {{info-tooltip tip=tooltip}}
    {{/if}}

    {{title}}

    {{#if (and legendColor active)}}
      {{#if (eq legendIcon 'polygon-stacked')}}
        <span class="polygon-stacked" style="color:{{legendColor}};">
          {{fa-icon 'square'}}
          {{fa-icon 'square'}}
        </span>
      {{/if}}
      {{#if (eq legendIcon 'line')}}
        <span class="line" style="color:{{legendColor}};">
          {{fa-icon 'minus'}}
        </span>
      {{/if}}
      {{#if (eq legendIcon 'polygon')}}
        <span class="polygon" style="color:{{legendColor}};">
          {{fa-icon 'square'}}
        </span>
      {{/if}}
      {{#if (eq legendIcon 'polygon-line')}}
        <span class="polygon-line" style="color:{{legendColor}};">
          {{fa-icon 'square-o'}}
        </span>
      {{/if}}
      {{#if (eq legendIcon 'polygon-fill-dash')}}
        <span class="polygon-fill-dash">
          <span class="fill" style="background-color:{{legendColor}};"></span>
          <span class="dash" style="border-color:{{legendColor}};"></span>
        </span>
      {{/if}}
    {{/if}}

  </span>
</div>
{{#if active}}
  <div class="layer-menu-item-content">
    {{yield}}
  </div>
{{/if}}
