<div class="popup-content">
  {{#if (eq cleanFeatures null)}}
    {{fa-icon 'spinner' class='fa-spin medium-gray fa-3x fa-fw'}}
  {{else}}

    {{#if cleanAlterations}}
      <h4 class="popup-header">Map Amendments</h4>
      <ul class="popup-list no-bullet no-margin">
        {{#each cleanAlterations as |feature|}}
          <li class="dark-gray" {{! template-lint-disable "nested-interactive" }}
            onmousemove={{action 'handleHoverListItem' feature}} role="button">
            <a class="button--alteration-pdf" href="{{feature.pdflink}}" target="_blank" rel="noopener">
              <strong>{{fa-icon 'external-link'}} {{feature.pdf}}</strong>
              <span class="date">Effective: {{feature.effective}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      There are no map amendments here.
    {{/if}}

    {{#if cleanLots}}
      <ul class="popup-list no-bullet no-margin">
        {{#each cleanLots as |feature|}}
          <li class="dark-gray" {{! template-lint-disable "nested-interactive" }}
            onmousemove={{action 'handleHoverListItem' feature}} role="button">
            <hr class="small-margin">
            <a class="button--tax-lot button gray text-orange no-margin" href="https://zola.planninglabs.nyc/lot/{{feature.boro}}/{{feature.block}}/{{feature.lot}}" target="_blank">
              <span class="bbl">{{feature.boroName}}, Block {{feature.block}}, Lot {{feature.lot}}</span>
              <strong class="address">{{feature.address}}</strong>
              <span class="prompt">{{fa-icon 'external-link'}} View this lot in ZoLa</span>
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}


  {{/if}}
  {{yield}}
</div>
