<div class="popup-content">
  {{#if this.cleanAlterations}}
    {{#each-in (group-by "status" this.cleanAlterations) as |status alterations|}}
      <h4 class="popup-header">{{if (eq status '13') 'Pending' 'Adopted'}} Map Amendments</h4>
      <ul class="popup-list no-bullet">
        {{#each alterations as |alteration|}}
          <li class="dark-gray" {{! template-lint-disable "no-nested-interactive" }}
            {{on 'mousemove' (fn this.handleHoverListItem this.alteration)}} role="button">
            <a class="popup-button clearfix" href="{{alteration.pdflink}}" target="_blank" rel="noopener noreferrer">
              <strong class="link-name float-left"><FaIcon @icon="external-link-alt"/><span class="filename">{{alteration.pdf}}</span></strong>
              {{#if (eq status '14')}}
                <span class="date float-right">Effective {{alteration.effective}}</span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/each-in}}
  {{else}}
    There are no map amendments here.
  {{/if}}

  {{#if this.streetNameChanges}}
    <hr class="small-margin">
    <h4 class="popup-header">Local Law Names</h4>
    <ul class="popup-list no-bullet no-margin">
      {{#each this.streetNameChanges as |nameChange|}}
        <li class="popup-button clearfix">
          <strong class="link-name float-left"><FaIcon @icon="external-link-alt" />{{nameChange.properties.honor_name}}</strong>
          <span class="date float-right">{{nameChange.properties.lleffectdt}}</span>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if this.sectionMapLink}}
    <hr class="small-margin">
    <h4 class="popup-header">Street Section Map</h4>
    <ul class="popup-list no-bullet">
      {{#each this.sectionMapLink as |sectionMap|}}
        {{#if sectionMap.do_path}}
          <li class="dark-gray" {{! template-lint-disable "no-nested-interactive" }}
            onmousemove={{action 'handleHoverListItem' sectionMap}} role="button">
            <a class="popup-button clearfix" href="{{sectionMap.do_path}}" target="_blank" rel="noopener" "noreferrer">
              <strong class="link-name float-left">{{fa-icon 'external-link-alt'}} <span class="filename">{{sectionMap.section_info}}</span></strong>
              <span class="date float-right">Effective {{sectionMap.last_date}}</span>
            </a>
          </li>
        {{else}}
          <span class="null-section-map">
            There is no available digitized street section map for this location. For more information please contact the {{sectionMap.boroname}} Borough President's Topographical Bureau.
          </span>
        {{/if}}
      {{/each}}
    </ul>
  {{/if}}

  {{#if this.cleanLots}}
    <ul class="popup-list no-bullet no-margin">
      {{#each this.cleanLots as |lot|}}
        <li {{! template-lint-disable "no-nested-interactive" }}
          {{on 'mousemove' (fn this.handleHoverListItem this.lot)}} role="button">
          <hr class="small-margin">
          <a class="button--tax-lot button expanded gray text-orange no-margin" href="https://zola.planning.nyc.gov/lot/{{lot.boro}}/{{lot.block}}/{{lot.lot}}" target="_blank" rel="noopener noreferrer">
            <span class="bbl">{{lot.boroName}}, Block {{lot.block}}, Lot {{lot.lot}}</span>
            <strong class="address">{{lot.address}}</strong>
            <span class="prompt"><FaIcon @icon="external-link-alt" />View this lot in ZoLa</span>
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{yield}}
</div>
