<ul class="layer-menu-item--group-checkboxes {{classNames}}">
  {{#each layers as |layer|}}
    <li {{action 'switchLayer' layer.id}} role='button'>
      <label {{!template-lint-disable "nested-interactive"}}>
        <span class="{{if layer.visibility '' 'medium-gray'}}">
          {{fa-icon (if layer.visibility "dot-circle-o" "circle-o")}}
        </span>
        {{layer.displayName}}
      </label>
    </li>
  {{/each}}
</ul>
{{yield}}
