{{#if (eq legendIcon 'line')}}
  <span class="line" style={{legendColorStyle}}>
    {{fa-icon 'minus'}}
  </span>
{{/if}}

{{#if (eq legendIcon 'polygon')}}
  <span class="polygon" style={{legendColorStyle}}>
    {{fa-icon 'square'}}
  </span>
{{/if}}

{{#if (eq legendIcon 'polygon-stacked')}}
  <span class="polygon-stacked" style={{legendColorStyle}}>
    {{fa-icon 'square'}}
    {{fa-icon 'square'}}
  </span>
{{/if}}

{{#if (eq legendIcon 'polygon-line')}}
  <span class="polygon-line" style={{legendColorStyle}}>
    {{fa-icon 'square-o'}}
  </span>
{{/if}}

{{#if (eq legendIcon 'polygon-fill-dash')}}
  <span class="polygon-fill-dash">
    <span class="fill" style={{legendBackgroundColorStyle}}></span>
    <span class="dash" style={{legendBorderColorStyle}}></span>
  </span>
{{/if}}

{{#if (eq legendIcon 'point')}}
  <span class="point" style={{legendColorStyle}}>
    {{fa-icon 'circle' style="transform:scale(0.6);"}}
  </span>
{{/if}}

{{#if (eq legendIcon 'four-vertical-lines')}}
  <span class="point" style={{legendColorStyle}}>
    {{fa-icon 'align-justify' style="transform:rotate(90deg);"}}
  </span>
{{/if}}

{{!-- {{yield}} --}}
