{{labs-site-header}}

<div class="site-main grid-x route-{{currentRouteName}}">

  <div class="search-container">
    {{#labs-search 
        onSelect=(action 'handleSearchSelect') 
        onHoverResult=(action 'handleSearchResultHover')
        onHoverOut=(action 'handleSearchHoverOut')
        onClear=(action 'handleSearchClear')
        typeTitleLookup=(hash
          lot='Addresses'
          city-street='Streets'
        ) as |search|}}
      {{#if (eq search.result.type 'lot')}}
        <span class="icon tax-lot"></span> <span class="subdued">{{search.result.label}}, Block {{search.result.demuxedBbl.block}}, Lot {{search.result.demuxedBbl.lot}}</span>
      {{else if (eq search.result.type 'city-street')}}
        {{search.result.label}} ({{search.result.boro_name}})
      {{/if}}
    {{/labs-search}}
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map
      id='main-map'
      initOptions=initMapOptions
      mapLoaded=(action 'handleMapLoad') as |map|}}

      {{#map.labs-layers
        model=model as |layers|}}
        {{#layers.tooltip as |tooltip|}}
          {{tooltip.layer.id}}
        {{/layers.tooltip}}
      {{/map.labs-layers}}

      {{#if (not-eq popupFeatures null)}}
        {{#map.popup
          lngLat=popupLocation}}
          {{map-popup-content
            features=popupFeatures}}
        {{/map.popup}}
      {{/if}}

      {{#if highlightedStreetSource}}
        {{#map.source options=highlightedStreetSource as |source|}}
          {{source.layer layer=(hash
              type='line'
              paint=(hash 
                line-color="#ffff00" 
                line-opacity=0.6
                line-width=12
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='place_other'
          }}
          {{source.layer layer=(hash
              type='line'
              paint=(hash 
                line-color="rgba(60, 133, 210, 1)" 
                line-opacity=1
                line-width=(hash
                  stops = (array
                    (array 10 1.5)
                    (array 14 5)
                  )
                )
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='place_other'
          }}
        {{/map.source}}
      {{/if}}

      {{map.on 'render' (action 'handleMapLoading')}}
      {{map.on 'data' (action 'handleMapLoading')}}
      {{map.on 'click' (action 'handleMapClick')}}
      {{map.on 'zoomend' (action 'handleZoomend')}}
      {{map.on 'dragend' (action 'handleDragend')}}

      {{#if loadStateTask.isRunning}}
        {{fa-icon 'spinner' class='fa-spin fa-3x map-loading-spinner'}}
      {{/if}}
    {{/labs-map}}

    <a class="zola-map-area-button" href="https://zola.planning.nyc.gov/{{mapLatLngZoomHash}}" target="_blank" rel="noopener">
      <strong>View <span class="show-for-medium">this area</span> in ZoLa</strong>
      <small class="show-for-medium">NYC’s Zoning &amp; Land Use Map</small>
    </a>
    {{share-controls
      shareURL=shareURL}}
  </div>

  <div class="layer-menu cell large-order-1 {{if (not-eq currentRouteName 'index') 'show-for-medium'}}">
    {{!-- City Map Layers --}}
    {{#accordion-menu title='City Map Layers'
        mapIsLoading=loadStateTask.isRunning as |menu|}}
      {{#lookup-layer-group for='citymap' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=citymap}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='street-centerlines' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=street-centerlines}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='pierhead-bulkhead-lines' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=pierhead-bulkhead-lines}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='amendments' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=amendments}}
          {{slider-filter layer=model.amendmentsFill}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='arterials' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=arterials}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='name-changes' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=name-changes}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}

    {{!-- Supporting Layers --}}
    {{#accordion-menu title='Supporting Layers' 
        open=true 
        mapIsLoading=loadStateTask.isRunning as |menu|}}
      {{#lookup-layer-group for='zoning-districts' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=zoning-districts}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='commercial-overlays' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=commercial-overlays}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='special-purpose-districts' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=special-purpose-districts}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='tax-lots' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=tax-lots}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='floodplain-pfirm2015' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=floodplain-pfirm2015}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='floodplain-efirm2007' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          active=floodplain-efirm2007}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}
  </div>

  {{outlet}}

</div>
