{{#deprecated/site-header
  responsiveNav=true
  as |banner|
}}
  {{#banner.title}}
    {{#link-to 'application' classNames='site-title' }}Street Map <small class="site-subtitle show-for-medium"><span class="show-for-xlarge">The</span> Status &amp; History of N<span class="show-for-xlarge">ew </span>Y<span class="show-for-xlarge">ork </span>C<span class="show-for-xlarge">ity</span>&rsquo;s Streets</small>{{/link-to}}
  {{/banner.title}}
  {{#banner.nav}}
    <ul class="menu vertical large-horizontal">
      <li class="menu-list-item">
        {{link-to 'About' 'about' class="menu-list-item-link"}}
      </li>
      <li class="menu-list-item">
        {{link-to 'City Map' 'city-map' class="menu-list-item-link"}}
      </li>
      <li class="menu-list-item">
        {{link-to 'Data' 'data' class="menu-list-item-link"}}
      </li>
      <li class="menu-list-item">
        {{link-to 'Feedback' 'feedback' class="menu-list-item-link"}}
      </li>
    </ul>
  {{/banner.nav}}
{{/deprecated/site-header}}

<div class="site-main grid-x route-{{currentRouteName}}">

  <div class="search-container">
    {{#labs-search
        onSelect=(action 'handleSearchSelect')
        onHoverResult=(action 'handleSearchResultHover')
        onHoverOut=(action 'handleSearchHoverOut')
        onClear=(action 'handleSearchClear')
        searchTerms=searchTerms
        typeTitleLookup=(hash
          lot='Addresses'
          city-street='Streets'
          city-map-alteration='Alterations and ULURP Numbers'
        ) as |search|}}
      {{#if (eq search.result.type 'lot')}}
        <span class="icon tax-lot"></span> <span class="subdued">{{search.result.label}}, Block {{search.result.demuxedBbl.block}}, Lot {{search.result.demuxedBbl.lot}}</span>
      {{else if (eq search.result.type 'city-street')}}
        {{search.result.label}} ({{search.result.boro_name}})
      {{else if (eq search.result.type 'city-map-alteration')}}
        {{search.result.label}} ({{moment-format search.result.effective 'DD MMMM YYYY'}})
      {{/if}}
    {{/labs-search}}
    {{!-- {{labs-bbl-lookup onSuccess=(action 'flyTo')}} --}}
  </div>
  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map
      id='main-map'
      initOptions=initMapOptions
      layerGroups=model.layerGroups
      mapLoaded=(action 'handleMapLoad') as |map|
    }}
    {{/labs-map}}
  </div>
  {{outlet}}
</div>