<Deprecated::SiteHeader @responsiveNav={{true}} as |banner|>
  <banner.title>
    <LinkTo @route="application" class="site-title">Street Map <small class="site-subtitle show-for-medium"><span class="show-for-xlarge">The</span> Status &amp; History of N<span class="show-for-xlarge">ew </span>Y<span class="show-for-xlarge">ork </span>C<span class="show-for-xlarge">ity</span>&rsquo;s Streets</small></LinkTo>
  </banner.title>
  <banner.nav>
    <ul class="menu vertical large-horizontal">
      <li class="menu-list-item">
        <LinkTo @route="about" class="menu-list-item-link">About</LinkTo>
      </li>
      <li class="menu-list-item">
        <LinkTo @route="city-map" class="menu-list-item-link">City Map</LinkTo>
      </li>
      <li class="menu-list-item">
        <LinkTo @route="data" class="menu-list-item-link">Data</LinkTo>
      </li>
      <li class="menu-list-item">
        <LinkTo @route="feedback" class="menu-list-item-link">Feedback</LinkTo>
      </li>
    </ul>
  </banner.nav>
</Deprecated::SiteHeader>

<div class="site-main grid-x route-{{this.currentRouteName}}">

  <div class="search-container">
    <LabsSearch @onSelect={{this.handleSearchSelect}} @onHoverResult={{this.handleSearchResultHover}} @onHoverOut={{this.handleSearchHoverOut}} @onClear={{this.handleSearchClear}} @searchTerms={{this.searchTerms}} @typeTitleLookup={{hash lot='Addresses'
          city-street='Streets'
          city-map-alteration='Alterations and ULURP Numbers'}} as |search|>
      {{#if (eq search.result.type 'lot')}}
        <span class="icon tax-lot"></span> <span class="subdued">{{search.result.label}}, Block {{search.result.demuxedBbl.block}}, Lot {{search.result.demuxedBbl.lot}}</span>
      {{else if (eq search.result.type 'city-street')}}
        {{search.result.label}} ({{search.result.boro_name}})
      {{else if (eq search.result.type 'city-map-alteration')}}
        {{search.result.label}} ({{moment-format search.result.effective 'DD MMMM YYYY'}})
      {{/if}}
    </LabsSearch>
    {{labs-bbl-lookup onSuccess=this.flyTo}}
  </div>
  <div class="map-container cell medium-auto large-order-2">
    <LabsMap @id="main-map" @initOptions={{this.initMapOptions}} @mapLoaded={{this.handleMapLoad}} as |map|>

      <map.labs-layers @onLayerMouseMove={{this.handleLayerMouseMove}} @layerGroups={{this.model.layerGroups}} as |layers|>
        <layers.tooltip as |tooltip|>
          {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
        </layers.tooltip>
      </map.labs-layers>

      {{#if (not-eq this.popupFeatures null)}}
        <map.popup @lngLat={{this.popupLocation}}>
          {{map-popup-content
            onHoverListItem=this.handlePopupLinkOver
            onMouseLeave=this.clearAmendmentHover
            features=this.popupFeatures}}
        </map.popup>

        {{#if this.highlightedAmendmentSource}}
          <map.source @options={{this.highlightedAmendmentSource}} as |source|>
            {{source.layer layer=(hash
                type='line'
                paint=(hash
                  line-color="#ffff00"
                  line-opacity=0.6
                  line-width=12
                )
                layout=(hash
                  line-cap='round'
                )
              )
              before='boundary_country'
            }}
            {{source.layer layer=(hash
                type='line'
                paint=(hash
                  line-color="rgba(60, 133, 210, 1)"
                  line-opacity=1
                  line-width=(hash
                    stops = (array
                      (array 10 1.5)
                      (array 14 5)
                    )
                  )
                )
                layout=(hash
                  line-cap='round'
                )
              )
              before='boundary_country'
            }}
          </map.source>
        {{/if}}
      {{else}}
        <map.popup @lngLat={{this.popupLocation}}>
          <FaIcon @icon="spinner" class='fa-spin medium-gray fa-3x fa-fw' />
        </map.popup>
      {{/if}}

      {{#if this.highlightedStreetSource}}
        <map.source @options={{this.highlightedStreetSource}} as |source|>
          {{source.layer layer=(hash
              type='line'
              paint=(hash
                line-color="#ffff00"
                line-opacity=0.6
                line-width=12
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='boundary_country'
          }}
          {{source.layer layer=(hash
              type='line'
              paint=(hash
                line-color="rgba(60, 133, 210, 1)"
                line-opacity=1
                line-width=(hash
                  stops = (array
                    (array 10 1.5)
                    (array 14 5)
                  )
                )
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='boundary_country'
          }}
        </map.source>
      {{/if}}

      {{#if this.highlightedAmendmentSource}}
        <map.source @options={{this.highlightedAmendmentSource}} as |source|>
          {{source.layer layer=(hash
              type='line'
              paint=(hash
                line-color="#ffff00"
                line-opacity=0.6
                line-width=12
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='boundary_country'
          }}
          {{source.layer layer=(hash
              type='line'
              paint=(hash
                line-color="rgba(60, 133, 210, 1)"
                line-opacity=1
                line-width=(hash
                  stops = (array
                    (array 10 1.5)
                    (array 14 5)
                  )
                )
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='boundary_country'
          }}
        </map.source>
      {{/if}}

      {{#if this.searchedAddressSource}}
        <map.source @options={{this.searchedAddressSource}} as |source|>
          {{source.layer layer=(hash
              type='circle'
              paint=(hash
                circle-radius=8
                circle-color="#00A1F9"
                circle-stroke-width=2
                circle-stroke-color="#FFFFFF"
              )
            )
            before='boundary_country'
          }}
        </map.source>
      {{/if}}

      {{map.on 'render' this.handleMapLoading}}
      {{map.on 'data' this.handleMapLoading}}
      {{map.on 'sourcedata' this.handleMapLoading}}
      {{map.on 'click' this.handleMapClick}}
      {{map.on 'move' this.handleMapPositionChange}}
      {{map.on 'mousemove' this.handleLayerMouseMove}}
      {{map.on 'drag' this.handleMapMouseDrag}}
      {{map.on 'zoomend' this.handleMapPositionChange}}

      {{#if this.loadStateTask.isRunning}}
        <FaIcon @icon="spinner" class='fa-spin fa-3x map-loading-spinner'/>
      {{/if}}

      <a class="zola-map-area-button" href="https://zola.planning.nyc.gov/{{this.mapLatLngZoomHash}}" target="_blank" rel="noopener noreferrer">
        <strong>View <span class="show-for-medium">this area</span> in ZoLa</strong>
        <small class="show-for-medium">NYC’s Zoning &amp; Land Use Map</small>
      </a>
      <CustomControls @shareURL={{this.shareURL}} @boundsGeoJSON={{this.boundsGeoJSON}}>
        <div class="print-controls mapboxgl-ctrl mapboxgl-ctrl-group">
          <button class="mapboxgl-ctrl-icon" type="button" {{on 'click' this.handlePrint}}><FaIcon @icon='print' /></button>
        </div>
      </CustomControls>

    </LabsMap>

  </div>

  <div class="layer-menu cell large-order-1 {{if (not-eq this.currentRouteName 'index') 'show-for-medium'}}">
    {{!-- City Map Layers --}}
    <Deprecated::LayerGroupsContainer @title="Street Map Layers" @mapIsLoading={{this.loadStateTask.isRunning}}>
      <LookupLayerGroup @for="citymap" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          <Deprecated::LegendItems @items={{layerGroup.model.legend.items}} />
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="street-centerlines" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="pierhead-bulkhead-lines" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          {{deprecated/legend-items items=layerGroup.model.legend.items}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="street-sections" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}} @icon={{layerGroup.model.legend.icon}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="amendments" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
          {{slider-filter layer=this.model.amendmentsFill}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="amendments-pending" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="arterials" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          {{deprecated/legend-items items=layerGroup.model.legend.items}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="name-changes" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          {{deprecated/legend-items items=layerGroup.model.legend.items}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="paper-streets" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="stair-streets" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>
    </Deprecated::LayerGroupsContainer>

    {{!-- Supporting Layers --}}
    <Deprecated::LayerGroupsContainer @title="Supporting Layers" @open={{true}} @mapIsLoading={{this.loadStateTask.isRunning}}>
      <LookupLayerGroup @for="zoning-districts" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          {{!-- TODO add legend items to the zoning-districts layerGroup --}}
          {{!-- {{deprecated/legend-items items=layerGroup.model.legend.items}} --}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="commercial-overlays" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="special-purpose-districts" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="tax-lots" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @icon={{layerGroup.model.legend.icon}} @active={{layerGroup.model.visible}}>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="floodplain-pfirm2015" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          {{deprecated/legend-items items=layerGroup.model.legend.items}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="floodplain-efirm2007" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          {{deprecated/legend-items items=layerGroup.model.legend.items}}
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>

      <LookupLayerGroup @for="aerials" as |layerGroup|>
        <Deprecated::LayerGroupToggle @label={{layerGroup.model.legend.label}} @tooltip={{layerGroup.model.legend.tooltip}} @active={{layerGroup.model.visible}}>
          <ul class="layer-menu-item--group-checkboxes no-bullet list-float-3">
            {{#each layerGroup.model.layers as |layer|}}
              <li onclick={{fn (mut layerGroup.model.selected) layer.id}} role='button'>
                <label {{!template-lint-disable "no-nested-interactive"}}>
                  <span class="layer-group-radio-{{layer.id}} silver">
                    <span class="fa-layers">
                      {{#if layer.visibility}}<FaIcon @icon="circle" class="a11y-orange" @transform="shrink-5"/>{{/if}}
                      <FaIcon @icon="circle" @prefix="far" class={{if layer.visibility ''}}/>
                    </span>
                  </span>
                  {{layer.displayName}}
                </label>
              </li>
            {{/each}}
          </ul>
        </Deprecated::LayerGroupToggle>
      </LookupLayerGroup>
    </Deprecated::LayerGroupsContainer>

    <button class="button gray small reset-map-button" disabled={{this.isDefault}} type="button" {{on 'click' this.setModelsToDefault }}>
      <FaIcon @icon="undo" /> Reset Map Layers
    </button>
  </div>

  {{outlet}}

</div>
