{{labs-site-header}}
{{log model.sources}}
{{log model.layerGroups}}
<div class="site-main grid-x">

  <div class="search-container">
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{main-map 
      id='main-map'
      initOptions=(hash style='//raw.githubusercontent.com/NYCPlanning/labs-gl-style/master/data/style.json'
                    zoom=13
                    center=(array -74.1197636 40.6976637))
      mapLoaded=(action 'handleMapLoad')}}
  </div>

  <div class="layer-menu cell large-order-1">
    {{#accordion-menu title='City Map Layers'}}
      {{#layer-menu-item title='Foo'}}
        hi
      {{/layer-menu-item}}
    {{/accordion-menu}}
    {{#accordion-menu title='Other Layers' open=false}}
      {{#layer-menu-item title='Foo'}}
        hi
      {{/layer-menu-item}}
    {{/accordion-menu}}
  </div>

  <div class="content-close-button-container">
    <button class="content-close-button">×</button>
  </div>
  <div class="content-area cell large-5 large-order-3 xxlarge-4">
    {{outlet}}
  </div>
</div>
