{{labs-site-header}}

<div class="site-main grid-x route-{{currentRouteName}}">

  <div class="search-container">
    {{#labs-search
        onSelect=(action 'handleSearchSelect')
        onHoverResult=(action 'handleSearchResultHover')
        onHoverOut=(action 'handleSearchHoverOut')
        onClear=(action 'handleSearchClear')
        searchTerms=searchTerms
        typeTitleLookup=(hash
          lot='Addresses'
          city-street='Streets'
        ) as |search|}}
      {{#if (eq search.result.type 'lot')}}
        <span class="icon tax-lot"></span> <span class="subdued">{{search.result.label}}, Block {{search.result.demuxedBbl.block}}, Lot {{search.result.demuxedBbl.lot}}</span>
      {{else if (eq search.result.type 'city-street')}}
        {{search.result.label}} ({{search.result.boro_name}})
      {{/if}}
    {{/labs-search}}
    {{bbl-lookup flyTo=(action 'flyTo')}}
  </div>

  <div class="map-container cell medium-auto large-order-2">
    {{#labs-map
      id='main-map'
      initOptions=initMapOptions
      mapLoaded=(action 'handleMapLoad') as |map|}}

      {{#map.labs-layers
        model=model as |layers|}}
        {{#layers.tooltip as |tooltip|}}
          {{tooltip-renderer feature=tooltip.feature template=tooltip.layer.tooltipTemplate}}
        {{/layers.tooltip}}
      {{/map.labs-layers}}

      {{#if (not-eq popupFeatures null)}}
        {{#map.popup
          lngLat=popupLocation}}
          {{map-popup-content
            onHoverListItem=(action 'handlePopupLinkOver')
            onMouseLeave=(action 'clearAmendmentHover')
            features=popupFeatures}}
        {{/map.popup}}

        {{#if highlightedAmendmentSource}}
          {{#map.source options=highlightedAmendmentSource as |source|}}
            {{source.layer layer=(hash
                type='line'
                paint=(hash
                  line-color="#ffff00"
                  line-opacity=0.6
                  line-width=12
                )
                layout=(hash
                  line-cap='round'
                )
              )
              before='place_other'
            }}
            {{source.layer layer=(hash
                type='line'
                paint=(hash
                  line-color="rgba(60, 133, 210, 1)"
                  line-opacity=1
                  line-width=(hash
                    stops = (array
                      (array 10 1.5)
                      (array 14 5)
                    )
                  )
                )
                layout=(hash
                  line-cap='round'
                )
              )
              before='place_other'
            }}
          {{/map.source}}
        {{/if}}
      {{else}}
        {{#map.popup lngLat=popupLocation}}
          {{fa-icon 'spinner' class='fa-spin medium-gray fa-3x fa-fw'}}
        {{/map.popup}}
      {{/if}}

      {{#if highlightedStreetSource}}
        {{#map.source options=highlightedStreetSource as |source|}}
          {{source.layer layer=(hash
              type='line'
              paint=(hash
                line-color="#ffff00"
                line-opacity=0.6
                line-width=12
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='place_other'
          }}
          {{source.layer layer=(hash
              type='line'
              paint=(hash
                line-color="rgba(60, 133, 210, 1)"
                line-opacity=1
                line-width=(hash
                  stops = (array
                    (array 10 1.5)
                    (array 14 5)
                  )
                )
              )
              layout=(hash
                line-cap='round'
              )
            )
            before='place_other'
          }}
        {{/map.source}}
      {{/if}}

      {{#if searchedAddressSource}}
        {{#map.source options=searchedAddressSource as |source|}}
          {{source.layer layer=(hash
              type='circle'
              paint=(hash
                circle-radius=8
                circle-color="#00A1F9"
                circle-stroke-width=2
                circle-stroke-color="#FFFFFF"
              )
            )
            before='place_other'
          }}
        {{/map.source}}
      {{/if}}

      {{map.on 'render' (action 'handleMapLoading')}}
      {{map.on 'data' (action 'handleMapLoading')}}
      {{map.on 'sourcedata' (action 'handleMapLoading')}}
      {{map.on 'click' (action 'handleMapClick')}}
      {{map.on 'move' (action 'handleMapPositionChange')}}
      {{map.on 'zoomend' (action 'handleMapPositionChange')}}

      {{#if loadStateTask.isRunning}}
        {{fa-icon 'spinner' class='fa-spin fa-3x map-loading-spinner'}}
      {{/if}}

      <a class="zola-map-area-button" href="https://zola.planning.nyc.gov/{{mapLatLngZoomHash}}" target="_blank" rel="noopener">
        <strong>View <span class="show-for-medium">this area</span> in ZoLa</strong>
        <small class="show-for-medium">NYC’s Zoning &amp; Land Use Map</small>
      </a>
      {{share-controls
        shareURL=shareURL}}
      {{data-controls boundsGeoJSON=boundsGeoJSON}}
      <div class="print-controls mapboxgl-ctrl mapboxgl-ctrl-group">
        <button {{action 'handlePrint'}} class="mapboxgl-ctrl-icon">{{fa-icon 'print'}}</button>
      </div>

    {{/labs-map}}

  </div>

  <div class="layer-menu cell large-order-1 {{if (not-eq currentRouteName 'index') 'show-for-medium'}}">
    {{!-- City Map Layers --}}
    {{#accordion-menu title='Street Map Layers'
        mapIsLoading=loadStateTask.isRunning as |menu|}}
      {{#lookup-layer-group for='citymap' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=citymap}}
          <ul class="legend no-bullet">
            <li class="legend-item">
              <svg class="legend-icon line-array" height="10" width="17" viewBox="0 0 17 10" preserveAspectRatio="xMinYMid">
                <g fill="none" stroke="#000000" stroke-width="1">
                  <path d="M0 5 l215 0" />
                </g>
              </svg> Mapped Street {{info-tooltip tip="A street that has been established on an adopted alteration map or section map and filed with the appropriate agencies"}}
            </li>
            <li class="legend-item">
              <svg class="legend-icon line-array" height="10" width="17" viewBox="0 0 17 10" preserveAspectRatio="xMinYMid">
                <g fill="none" stroke="#000000" stroke-width="1">
                  <path stroke-dasharray="3,1.5" d="M0 5 l215 0" />
                </g>
              </svg> Record Street {{info-tooltip tip="A street that is not officially mapped but that is documented in some other legal record and may or may not be a public way.  Record streets are shown as dashed lines on the City Map and in the app."}}
            </li>
            <li class="legend-item">
              <svg class="legend-icon line-array" height="10" width="17" viewBox="0 0 17 10" preserveAspectRatio="xMinYMid">
                <g fill="none" stroke="#545454" stroke-width="0.3">
                  <path d="M0 5 l215 0" />
                </g>
              </svg> Street Treatment {{info-tooltip tip="Lines on the City Map that reflect curb lines, approach ramps and other physical elements for illustrative purposes only.  Treatment lines may be changed without public review (ULURP)."}}
            </li>
            <li class="legend-item">
              <svg class="legend-icon line-array" height="10" width="17" viewBox="0 0 17 10" preserveAspectRatio="xMinYMid">
                <g fill="none" stroke="#AFAFAF" stroke-width="1" stroke-linecap="round">
                  <path stroke-dasharray="0,2" d="M0 5 l215 0" />
                </g>
              </svg> Unmapped Street {{info-tooltip tip="A street that has been built but does not appear on the City Map and may or may not be a public way."}}
            </li>
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='street-centerlines' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=street-centerlines}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='pierhead-bulkhead-lines' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=pierhead-bulkhead-lines}}
          <ul class="legend no-bullet">
            <li class="legend-item">
              <svg class="legend-icon line-array" height="10" width="17" viewBox="0 0 17 10" preserveAspectRatio="xMinYMid">
                <g fill="none" stroke="#3278C8" stroke-width="1" stroke-linecap="round">
                  <path stroke-dasharray="5,2.5,0,2,0,2.5" d="M0 5 l215 0" />
                </g>
              </svg> Pierhead
            </li>
            <li class="legend-item">
              <svg class="legend-icon line-array" height="10" width="17" viewBox="0 0 17 10" preserveAspectRatio="xMinYMid">
                <g fill="none" stroke="#3278C8" stroke-width="1" stroke-linecap="round">
                  <path stroke-dasharray="5,2,0,1.5,0,1.5,0,2" d="M0 5 l215 0" />
                </g>
              </svg> Bulkhead
            </li>
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='amendments' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          legendColor=layerGroup.model.legendColor
          legendIcon=layerGroup.model.legendIcon
          tooltip=layerGroup.model.titleTooltip
          active=amendments}}
          {{slider-filter layer=model.amendmentsFill}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='arterials' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          legendColor=layerGroup.model.legendColor
          legendIcon=layerGroup.model.legendIcon
          tooltip=layerGroup.model.titleTooltip
          active=arterials}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='name-changes' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=name-changes}}
          <ul class="legend no-bullet">
            <li class="legend-item">
              {{legend-icon legendColor='rgba(228, 72, 192, 1)' legendIcon='point'}} Intersections & Corners
            </li>
            <li class="legend-item">
              {{legend-icon legendColor='rgba(228, 72, 192, 0.5)' legendIcon='line'}} Streets
            </li>
            <li class="legend-item">
              {{legend-icon legendColor='rgba(228, 72, 192, 0.5)' legendIcon='polygon'}} Parks, Plazas, & Public Space
            </li>
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}

    {{!-- Supporting Layers --}}
    {{#accordion-menu title='Supporting Layers'
        open=true
        mapIsLoading=loadStateTask.isRunning as |menu|}}
      {{#lookup-layer-group for='zoning-districts' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=zoning-districts}}
          <ul class="legend no-bullet">
            <li class="legend-item">{{legend-icon legendColor='rgba(238,58,54,0.8)' legendIcon='polygon'}} Commercial Districts</li>
            <li class="legend-item">{{legend-icon legendColor='rgba(255,135,243,0.8)' legendIcon='polygon'}} Manufacturing Districts</li>
            <li class="legend-item">{{legend-icon legendColor='rgba(255,234,0,0.8)' legendIcon='polygon'}} Residential Districts</li>
            <li class="legend-item">{{legend-icon legendColor='rgba(120,210,113,0.8)' legendIcon='polygon'}} Parks</li>
            <li class="legend-item">{{legend-icon legendColor='rgba(128,128,128,0.8)' legendIcon='polygon'}} Battery Park City</li>
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='commercial-overlays' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          legendColor=layerGroup.model.legendColor
          legendIcon=layerGroup.model.legendIcon
          tooltip=layerGroup.model.titleTooltip
          active=commercial-overlays}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='special-purpose-districts' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          legendColor=layerGroup.model.legendColor
          legendIcon=layerGroup.model.legendIcon
          tooltip=layerGroup.model.titleTooltip
          active=special-purpose-districts}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='tax-lots' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          legendColor=layerGroup.model.legendColor
          legendIcon=layerGroup.model.legendIcon
          active=tax-lots}}
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='floodplain-pfirm2015' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=floodplain-pfirm2015}}
          <ul class="legend no-bullet">
            <li class="legend-item">{{legend-icon legendColor='rgba(0,132,168,0.7)' legendIcon='polygon'}} V Zone</li>
            <li class="legend-item">{{legend-icon legendColor='rgba(0,169,230,0.7)' legendIcon='polygon'}} A Zone</li>
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='floodplain-efirm2007' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=floodplain-efirm2007}}
          <ul class="legend no-bullet">
            <li class="legend-item">{{legend-icon legendColor='rgba(0,132,168,0.7)' legendIcon='polygon'}} V Zone</li>
            <li class="legend-item">{{legend-icon legendColor='rgba(0,169,230,0.7)' legendIcon='polygon'}} A Zone</li>
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}

      {{#lookup-layer-group for='aerials' as |layerGroup|}}
        {{#menu.menu-item
          title=layerGroup.model.title
          tooltip=layerGroup.model.titleTooltip
          active=aerials}}
          <ul class="layer-menu-item--group-checkboxes list-float-3">
            {{#each layerGroup.model.layers as |layer|}}
              <li onclick={{action (mut selected-aerial) layer.id}} role='button'>
                <label {{!template-lint-disable "nested-interactive"}}>
                  <span class="layer-group-radio-{{layer.id}} {{if layer.visibility '' 'medium-gray'}}">
                    {{fa-icon (if layer.visibility "dot-circle-o" "circle-o")}}
                  </span>
                  {{layer.displayName}}
                </label>
              </li>
            {{/each}}
          </ul>
        {{/menu.menu-item}}
      {{/lookup-layer-group}}
    {{/accordion-menu}}
  </div>

  {{outlet}}

</div>
