<div class="content-close-button-container">
  {{link-to '×' 'application' click=(action (mut closed) true) class="content-close-button"}}
</div>
<div class="content-area cell large-5 large-order-3 xxlarge-4">

  <h1 class="header-xlarge">Feedback</h1>

  <h3 class="header-medium small-margin-bottom">City Map Information</h3>

  <p>This street information has never been so easy to access, but NYC Street Map is only a starting point for research about the City’s streets. It lacks some information on the City Map and may have inaccuracies.  All information gathered from NYC Street Map must be confirmed based on the official City Map records.</p>

  <div class="callout secondary text-small">
    <div class="grid-x">
      <p class="cell medium-6">To confirm what you see in NYC Street Map with official City Map records, please contact the relevant Borough President’s Topographic Office:</p>
      <div class="cell medium-6">
        <ul>
          <li>Bronx – <a target="_blank" href="http://bronxboropres.nyc.gov/topography/"><strong>website</strong> {{fa-icon 'external-link' }}</a></li>
          <li>Brooklyn – <a target="_blank" href="http://www.brooklyn-usa.org/topography/"><strong>website</strong> {{fa-icon 'external-link' }}</a></li>
          <li>Manhattan – <a target="_blank" href="http://manhattanbp.nyc.gov/html/land_use/topographical-services.shtml"><strong>website</strong> {{fa-icon 'external-link' }}</a></li>
          <li>Queens – <a target="_blank" href="http://www.queensbp.org/land-use/"><strong>website</strong> {{fa-icon 'external-link' }}</a></li>
          <li>Staten Island – <a target="_blank" href="https://www.statenislandusa.com/staffdirectory.html"><strong>website</strong> {{fa-icon 'external-link' }}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <h3 class="header-medium small-margin-bottom">Application Feedback</h3>

  <p>To let <a href="https://twitter.com/nycplanninglabs" target="_blank"><strong>@NYCPlanningLabs</strong></a> know how this app could be better, <a href="https://github.com/NYCPlanning/labs-citymap/issues/" target="_blank"><strong>add a GitHub Issue</strong></a>, <a href="https://twitter.com/intent/tweet?text=%40NYCPlanningLabs" target="_blank"><strong>Tweet</strong></a>, or email <a href="mailto:labs_dl@planning.nyc.gov"><strong>labs_dl@planning.nyc.gov</strong></a>.</p>

  {{outlet}}
</div>
